@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/*
:root {
    --maxWidth:1440px;
    --minWidth:360px;

}*/
body {
    /* background-color: #2d6a4f;*/
    font-family: 'Syne Mono', monospace;
    height:100%;
    width:auto;
    margin: 0px;
}

h1 {
    text-align: center;
    font-style: bold;
    font-size: 3rem ;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 90px auto 100px 50px;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 0;
}

 .placeHolderChoosen {
    display: flex;
    margin-top:20px;
    justify-content: center;
  }

.title {
    justify-content: center;
}

.imagePlaceHolder {
    display: flex;
    text-align: center;
    justify-content: center;
    padding:10px;
}

img {
    width:auto
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }

.square {
    height: 45px;
    width: 45px;
    border-bottom-color: black;
    border-bottom-style: solid;
    padding-bottom:5px;
    align-items: center;
    font-size: 22px;
    font-weight: bolder;
    margin:5px;
    text-align: center;
}

.squareReveal {
    animation:blinkingText 1.2s infinite;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    padding: 5px 0;
    background: #0f4c5c;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    user-select: none;
    transition: bottom 4s;
}

.keyboard__keys{
    text-align: center;
}

.visualizeKey {
    color:black;
}

.keyboard__key{
    height: 45px;
    font-family: 'Syne Mono', monospace;
    font-weight: bolder;
    /* The reason why the width is in percentage is that it allows it to be responsive */
    width: 6%;
    max-width: 50px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.6);
    /* 5% larger than the root element size */
    font-size:1.05rem;
    color:#000000;
    /* remove the outline on mobile devices when you touch the keys */
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.16);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08FF56;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

.centralizeLabelAndScore {
    display: flex;
    font-weight: bolder;
    align-content: center;
    justify-content: center;
}

.scores{
    color:red;
}